body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top{

  flex: 1;
  display: flex;
  flex-direction: row;

}

.left {
  flex: 1 1 0%;
  background: white;
  padding: 5px;
  display:flex;
  flex-direction: column;
}

.personal_info {

  color: white;
  background-color: rgb(67, 86, 139);
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal_content{

  display: flex;
  flex-direction: column;

}

.personal_info_title{

  font-size: 25px;
  font-weight: 900;

}

img{
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 100%;
}

li{
    margin-bottom: 9px;
}

.right {
  flex: 2 1 0%;
  background: white;
  display:flex;
  flex-direction: column;
  padding: 5px;
}

.section_title{

  color: rgb(112, 122, 151);
  font-size: 25px;
  font-weight: 900;
  text-align: center;

  border: 3px solid black;
  border-radius: 10px;

}

.sub_section{

  background-color: rgb(205, 214, 226);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;

}

.sub_section_white{

  background-color:white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;

}

.sub_title{

  display: flex;
  flex-direction: row;

}

.sub_title_content{

  font-size: 25px;
  color: white;
  background-color: rgb(67, 86, 139);
  padding: 3px;
  border-radius: 7px;

}

.year_content{

  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;

}

.year{

  color: rgb(67, 86, 139);
  font-weight: 900;
  flex: 2 1 0;

}

.y_content{

  flex: 10 1 0;

}

.bar{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.bar_word{

  flex: 3 1 0;

}

.bar_bar_wrap{

  flex: 9 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.bar_bar{

  background-color: rgb(126, 126, 126);

}

.bar_bar_70{

  width: 70%;
  color: white;
  background-color: rgb(67, 86, 139);
  display: flex;
  justify-content: center;

}

.bar_bar_80{

  width: 80%;
  color: white;
  background-color: rgb(67, 86, 139);
  display: flex;
  justify-content: center;

}

.bar_bar_90{

  width: 90%;
  color: white;
  background-color: rgb(67, 86, 139);
  display: flex;
  justify-content: center;

}

.important{
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.wrap_item{

  margin: 10px;
  width: 100%;

}

.wrap_list{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.wrap_item_list{

  width: 40%;
  margin: 10px;
  display: list-item;
  list-style-type: disc;

}

.bottom{

  padding: 5px;
  
}